/* Variables */
/* All pages */
html {
  min-height: 100%;
  position: relative;
  background: #30385F;
  background: -webkit-linear-gradient(#30385F, black);
  background: -o-linear-gradient(#30385F, black);
  background: -moz-linear-gradient(#30385F, black);
  background: linear-gradient(#30385F, black);
  width: 67%;
  margin: auto; }

body {
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif; }

.title {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0; }

.body {
  font-family: "Roboto Condensed", sans-serif;
  color: lightGrey;
  font-size: 1.03em;
  line-height: 1.3em; }

.banner {
  width: 916px;
  height: 152px; }

.link, .header .tab {
  color: white;
  text-decoration: none; }
  .link:hover, .header .tab:hover {
    color: lightGrey;
    text-decoration: underline; }

/* Header */
.header ul {
  list-style-type: none;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }

.header .tab {
  width: 60px; }

/* Home page */
.home {
  margin-left: 21%;
  text-align: left; }
  .home .title {
    padding-top: 30px;
    width: 10%; }
  .home .body {
    margin-left: -17px;
    width: 80%; }

/* Services page */
.services .title, .projects .title {
  padding-top: 15px; }

.services .body, .projects .body {
  margin-left: 5%;
  width: 90%;
  padding-bottom: 20px; }

.services .nav, .projects .nav {
  margin: auto;
  width: 85%;
  font-size: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .services .nav .subheading, .projects .nav .subheading {
    padding: 20px 20px 10px 20px; }
    .services .nav .subheading img, .projects .nav .subheading img {
      display: block;
      margin: auto;
      padding-top: 10px;
      max-width: 30%; }
    .services .nav .subheading .small, .projects .nav .subheading .small {
      max-width: 38%; }
    .services .nav .subheading .big, .projects .nav .subheading .big {
      max-width: 23%; }

/* Footer */
.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 40px;
  border-top: 1px solid lightGrey;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em; }
