html, body, form {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	font-size: 12px;
	background: #000
				url(../images/background.jpg)
				repeat-x;
	text-align: center;
}

td {
	font-family: Arial;
	font-size: 12px;
}

.hidden {
	display: none;
}

#wrapper {
	margin: auto;
	text-align: left;
	width: 920px;
}

/* Header
------------------------------------------------- */

#header {
	height: 112px;
	margin-top: 8px;
}

#header h1 {
	margin: 0;
	padding: 0;
}

#header h1 img {
	border: 0;
	float: left;

	}

/* Main Navigation
------------------------------------------------- */

#main-nav {
	position: absolute;
	height: 37px;
	padding-left: 100px;
	display: inline;
	margin-top: 82px;
	}
#main-nav ul { margin: 0; padding: 0; list-style-type: none; }
#main-nav li { float: left; margin-right: 20px;}

#main-nav li.legend {
	display: none;
	}

#main-nav li a {
	float: left;
	height: 0px !important;
	height /**/:37px; /* IE 5/Win hack */
	padding: 37px 0 0 0;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 76px;
}

#main-nav li a:hover {
	background-position: 0 -37px;
}

#main-nav li#home,
#main-nav li#home a {  background-image: url(../images/nav/home.png); }

#main-nav li#services,
#main-nav li#services a {  background-image: url(../images/nav/services.png); }

#main-nav li#products,
#main-nav li#products a {  background-image: url(../images/nav/products.png); }

#main-nav li#projects,
#main-nav li#projects a {  background-image: url(../images/nav/projects.png); }

#main-nav li#news,
#main-nav li#news a {  background-image: url(../images/nav/news.png); }

#main-nav li#contact,
#main-nav li#contact a {  background-image: url(../images/nav/contact.png); }


/* Sub Navigation
------------------------------------------------- */

#sub-nav-container {
	background: transparent
				url(../images/nav/subnav-bg.png)
			    no-repeat;
	width: 219px;
	margin-top: 7px;
}

#sub-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
}

#sub-nav li a {
	height: 1%;
	display: block;
	padding: 8px 8px 8px 25px;
	color: #fff;
	text-decoration: none;

}

#sub-nav li a:hover {
	background: #3d588a
				url(../images/nav/arrow.gif)
				8px 12px
				no-repeat;
	}

#sub-nav li.selected,
#sub-nav li.selected a,
#sub-nav li.selected a:hover {
	background: #3d588a
				url(../images/nav/arrow.gif)
				8px 12px
				no-repeat;
	}

#sub-nav li.selected a:hover {
	text-decoration: none;
}


/* Content
------------------------------------------------- */

#content .padding {
	padding-top: 21px;
}

#sidebar-a .padding {
	padding-top: 21px;
	padding-left: 22px;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	margin-left: 13px;
	color: #fff;
	margin-bottom: 4px;
}


#content a {
	color: #005FA8;
}

#content a:hover {
	text-decoration: none;
}

#content p {
	padding: 0 13px;
	}

/* News
------------------------------------------------- */

#news_container {
	color: #fff;
	height: 190px;
	padding: 14px;
	width: 212px;
	background: transparent
				url(../images/news/news_container_bg.png)
				no-repeat;
	margin-left: 2px;
	margin-top: 10px;
	}

.news_heading {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	}

.news_date {
	font-size: 11px;
	font-family: tahoma;
	color: #c2c2c2;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
	}

.news_blurb {
	padding: 0;
	margin: 0;
	}

.news_blurb a {
	color: #ee783a;
	font-size: 11px;
	font-family: tahoma;
	}

.news_thumb {
	padding: 5px 5px 0 0;
	float: left;
	}

/* Floats
------------------------------------------------- */

.home #sidebar-a {
	float: right;
	width: 524px;
}

#sidebar-a {
	float: left;
	width: 218px;
}

.home #content {
	color: #fff;
	margin-right: 524px;
}

#content {
	color: #fff;

}

#content .contentblock {
	margin-left: 250px;
	}

#content .contentblock img {
	float: left;
	padding-right: 10px;
	margin-left: 15px;
	}

#content .contentblock h2 {
	margin-top: 20px;
	}

/* Hide from IE5-mac. Only IE-win sees this. \*/

* html .home #sidebar-a {
  margin-left: -3px;
  }

* html .home #content {
  height: 1%;
  margin-right: 0;
  }

/* End hide from IE5/mac */


/* Extras for sExperts
------------------------------------------------- */

.horz {
	height: 11px;
	background: transparent
				url(../images/common/horz_bg.jpg)
				0 50%
				repeat-x;
	border: 0;
	padding: 0;
	margin: 0;
	}

.horz img {
	float: left;
	}

/* Footer
------------------------------------------------- */

#footer {
	clear: both;
	height: 80px;
	color: #fff;
	font-size: 11px;
	font-family: tahoma;
}

#footer p {
	margin: 0;
	padding: 0;
	padding-left: 13px;
	}

#footer .jetnet {
	float: right;
	padding-right: 13px;
	border: 0;
	}

#footer .optic_line {
	height: 11px;
	background: transparent
				url(../images/common/footer_bg.jpg)
				0 50%
				repeat-x;
	margin-bottom: 20px;
}

#footer .optic_line img {
	float: right;
	}

#footer a {
	color: #5d99d1;
	text-decoration: none;
	}

#footer a:hover {
	text-decoration: underline;
	}

#footer a.designed {
	color: #fff;
	text-decoration: none;
	}

#footer a.designed:hover {
	text-decoration: none;
	}
