html {
  min-height: 100%;
  position: relative;
  background: #30385F; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#30385F, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#30385F, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#30385F, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#30385F, #000000); /* Standard syntax */
  width: 916px;
  margin: auto;
}
body {
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.body {
  font-family: 'Roboto Condensed', sans-serif;
}

.banner {
  width: 100%;
  height: 152px;
}

.header {
  ul {
      list-style-type: none;
      padding-top: 15px;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
  }
  .tab {
    color: white;
    width: 60px;
    text-decoration: none;
    &:hover {
      color: lightGrey;
      text-decoration: underline;
    }
  }
}

.home {
  margin-left: 20%;
  text-align: left;
  .title {
    padding-top: 30px;
    font-size: 3em;
    width: 10%;
    margin-bottom: 0;
    margin-top: 0;
  }
  .body {
    width: 80%;
    color: lightGrey;
    font-size: 1.03em;
    line-height: 1.3em;
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-top: 50px;
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  a {
    text-decoration: none;
    color: lightGrey;
    &:hover {
      text-decoration: underline;
    }
  }
}
