/* Variables */
$primary-color: #30385F;
$font-heading: 'Oswald', sans-serif;
$font-text: 'Roboto Condensed', sans-serif;

/* All pages */
html {
  min-height: 100%;
  position: relative;
  background: $primary-color;
  background: -webkit-linear-gradient($primary-color, black);
  background: -o-linear-gradient($primary-color, black);
  background: -moz-linear-gradient($primary-color, black);
  background: linear-gradient($primary-color, black);
  width: 67%;
  margin: auto;
  @media (max-width: 1000px) {
    width: 100%;
    background-color: white;
  }
}
body {
  text-align: center;
  color: white;
  font-family: $font-heading;
}

.title {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

.body {
  font-family: $font-text;
  color: lightGrey;
  font-size: 1.03em;
  line-height: 1.3em;
}

.banner {
  width: 916px;
  height: 152px;
}

.link {
  color: white;
  text-decoration: none;
  &:hover {
    color: lightGrey;
    text-decoration: underline;
  }
}

/* Header */
.header {
  ul {
      list-style-type: none;
      padding-top: 15px;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
  }
  .tab {
    @extend .link;
    width: 60px;
  }
}

/* Home page */
.home {
  margin-left: 21%;
  text-align: left;
  .title {
    padding-top: 30px;
    width: 10%;
  }
  .body {
    margin-left: -17px;
    width: 80%;
  }
}

/* Services page */
.services, .projects {
  .title {
    padding-top: 15px;
  }
  .body {
    margin-left: 5%;
    width: 90%;
    padding-bottom: 20px;
  }
  .nav {
    margin: auto;
    width: 85%;
    font-size: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .subheading {
      padding: 20px 20px 10px 20px;
      .icon {
        display: block;
        margin: 0 auto;
        padding-top: 10px;
        max-width: 30%;
        .small {
          max-width: 38%;
        }
        .big {
          max-width: 23%;
        }
      }
    }
  }
  .expanded {
    display: flex;
    align-items: flex-start;
    p {
      margin-top: 8px;
      padding-left: 15px;
      font-family: $font-text;
      font-size: 0.5em;
      color: lightgrey;
      line-height: 1.3em;
      text-align: left;
    }
  }
}

/* Contact Page */
.contact {
  padding: 25px 0px 5px 0px;
  p {
    padding: 40px 0px 15px 0px;
    font-size: 1.7em;
  }
  li {
    padding-top: 10px;
    font-size: 1.1em;
    margin-right: 40px;
    list-style: none;
  }
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  margin-top: 40px;
  border-top: 1px solid lightGrey;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  @media (max-width: 460px) {
    padding: 0px 10px;
    font-size: 0.7em;
  }
}
